@font-face {
  font-family: "my-icon"; /* Project id 1108228 */
  src: url('iconfont.woff2?t=1637894644448') format('woff2'),
       url('iconfont.woff?t=1637894644448') format('woff'),
       url('iconfont.ttf?t=1637894644448') format('truetype');
}

.my-icon {
  font-family: "my-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-icon-delete:before {
  content: "\e62a";
  margin-left: 10px;
}

.my-icon-shezhi:before {
  content: "\e67b";
  font-size: 26px;
  color: #808080;
}

.my-icon-settings:before {
  content: "\e795";
}

.my-icon-caidan:before {
  content: "\e65e";
  font-size: 26px;
  color: #808080;
  margin-right: 15px;
}

.my-icon-fanhui:before {
  content: "\e608";
}